<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils Analyze Page</title>
</head>
<body>
<h2>Choose any of the options available for analyzing text.</h2> <hr>
<button onclick='document.location="http://127.0.0.1:8000/removepunctuation"'> <strong><h2>Remove Punctuation</h2></strong> </button> &nbsp&nbsp&nbsp
<button onclick='document.location="http://127.0.0.1:8000/capitalizefirst"'> <strong><h2>Capitalize First Letter</h2></strong> </button> &nbsp&nbsp&nbsp
<button onclick='document.location="http://127.0.0.1:8000/removespace"'> <strong><h2>Remove Spaces</h2></strong> </button> &nbsp&nbsp&nbsp
<button onclick='document.location="http://127.0.0.1:8000/newlineremove"'> <strong><h2>Remove Newer Lines</h2></strong> </button> &nbsp&nbsp&nbsp
<button onclick='document.location="http://127.0.0.1:8000/charcount"'> <strong><h2>Count Characters</h2></strong> </button> &nbsp&nbsp&nbsp
<hr> <br>
<button onclick='document.location="http://127.0.0.1:8000/"'> <h2><strong> Back to main page </strong></h2></button>

</body>
</html>